@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Major+Mono+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Vast+Shadow&display=swap');
body{
    margin: 0px;
    background-color: rgb(15, 15, 15);

    font-family: "Italiana", sans-serif;
 
}