.main{
    margin-top: 1vh;
    margin-bottom: -2vh;

    .footer {
        color: aliceblue;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        border-top: 1px solid slategray;
        padding: 20px 0;
        text-align: center;

        .footer p {
            margin: 0;
          }
          
      }
      
      
}
